<% layout('layout') -%>
<section class="home">
    <h1>Welcome to WanderWise</h1>
    <form action="/car-rental" method="get" class="search-form">
        <label for="location">Search Car Rentals:</label>
        <input type="text" id="location" name="location" placeholder="Enter Location">
        <button type="submit">Search</button>
    </form>
</section>
