<header>
    <nav class="navbar">
        <div class="brand-logo">
            <a href="/">WanderWise</a>
        </div>
        <div class="navbar-items">
            <ul>
                <li><a href="#">Flights</a></li>
                <li><a href="#">Stays</a></li>
                <li><a href="#">Car Rental</a></li>
                <li><a href="#">Flight + Hotel</a></li>
            </ul>
        </div>
        <div class="navbar-icons">
            <button class="sign-in-btn">Sign In</button>
        </div>
    </nav>
</header>
