<div class="sidebar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/car-rental">Car Rental</a></li>
        <li><a href="#">Flight + Hotel</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Direct</a></li>
    </ul>
</div>
